#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 2rem;
  text-align: center;
}



.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.header img {
  width: 80px;
  height: 80px;
}





.text-field-username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.text-field-username form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.text-field-username>form>div {
  width: 35%;
  margin-right: 5px;
}

.text-field-username input {
  width: 100%;
  height: 10px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text-field-username input:focus {
  background-color: #16171b;
  color: white;
  outline-color: white;
}

.text-field-username input:focus fieldset {
  outline-color: white;
}


.text-field-username label {
  top: -6px;
}


.text-field-username label.Mui-focused {
  color: rgb(124, 124, 124);
  top: 0px;
}


.text-field-username button {
  color: white;
}

.text-field-username button svg {
  font-size: 1.9rem;
}








/* USER STATS */

.label-p {
  font-size: 14px;
  color: rgb(148, 148, 148);
  font-weight: bold;
  margin-bottom: 2px;
}

.value-p {
  margin-top: 2px;
}


.infos-user span:nth-child(3) p:nth-child(2),
.infos-user span:nth-child(4) p:nth-child(2),
.infos-user span:nth-child(5) p:nth-child(2) {
  /* font-family: Rundspruch; */
  font-size: 25px;
}


.main-stats {
  background-color: #303133;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0 3%;
  padding-bottom: 40px;
  margin-bottom: 100px;
  min-height: 500px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.div-user {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 20%;
  padding: 5px;
}

.infos-user {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.name-rank {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 45px;
}

.infos-user span {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 30px;
}

.value-p span {
  margin-top: 2px;
}


.name-rank h2 {
  margin: 5px;
}


.name-rank figure {
  margin: 0;
  margin-right: 1em;
  width: min-content;
}

.name-rank img {
  width: 75px;
  height: 36px;
  object-fit: none;
  object-position: 0% 50%;
}


.div-stats-user {
  display: flex;
  flex-direction: column;
  width: 100%;
}



/* DIV CHARTS */

.div-box-rank {
  position: relative;
  top: 80px;
  left: 44%;
}

.div-box-rank p {
  width: 20%;
  font-size: 12px;
  margin: 2px;
  margin-left: -9px;
}

.div-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  padding-top: 50px;
  justify-content: space-around;
  align-items: stretch;
}

.div-charts h3 {
  margin-top: 2px;
}


.div-pie-chart-overall-rank .recharts-wrapper {
  margin-top: -70px;
}

.div-pie-chart-overall-rank svg.recharts-surface {
  margin-top: -70px;
}


.div-progress-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 60%;
}

.box-progress-bar {
  width: 42%;
  margin-bottom: 20px;
}

.div-progress-bar h3 {
  width: 100%;
  margin-bottom: 40px;
}

.title-progress-bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.img-cur-rank,
.img-next-rank {
  display: flex;
}

.img-cur-rank img,
.img-next-rank img {
  display: flex;
  width: 45px;
  height: 25px;
}

.title-progress-bar p {
  text-align: center;
  margin: 0px;
}

.progress {
  background: rgba(0, 0, 0, 0.432);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 8px;
  margin-bottom: 20px;
}

.progress-value {
  text-align: right;
  border-radius: 100px;
  height: 100%;
  animation: load 5s normal forwards;
  -webkit-animation: load 5s normal forwards;
}

.label-progress {
  font-size: 11px;
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-top: 3px;
  margin-left: -26px;
  position: absolute;
  /* font-family: Rundspruch; */
}


@keyframes load {

  0% {
    width: 0;
  }

  100% {
    width: width;
  }
}

.div-kata-by-lang {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}










/* icone Rank */
.small-hex {
  position: relative;
  top: -2px;
  width: 34px;
}

.small-hex.is-extra-wide {
  width: 34px;
}

.small-hex {
  height: 26px;
  width: 15px;
  background-color: transparent;
  color: black;
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  text-shadow: none;
  line-height: 28px;
  font-size: 5px;
  filter: none;
  /* margin-right: 1.25rem !important;
  margin-top: 5px !important; */
  float: left !important;
}


.small-hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  position: absolute;
  left: -8px;
  z-index: 0;
  -moz-transform: scale(.9999);
}

.is-extra-wide .inner-small-hex {
  width: 32px;
}

.inner-small-hex {
  height: 22px;
  width: 13px;
  background-color: black;
  position: relative;
  margin-right: 6px;
  text-align: center;
  line-height: 22px;
  z-index: 1;
  text-shadow: none;
  margin-left: 1px;
  top: 2px;
  font-size: 11px;
}

.inner-small-hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-right: 6px solid black;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  position: absolute;
  left: -6px;
  z-index: 0;
  -moz-transform: scale(.9999);
}

.inner-small-hex span {
  z-index: 2;
  position: relative;
}

.inner-small-hex:after {
  content: "";
  width: 0;
  position: absolute;
  right: -6px;
  top: 0;
  border-left: 6px solid black;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -moz-transform: scale(.9999);
  z-index: 2;
}

.small-hex:after {
  content: "";
  width: 0;
  position: absolute;
  right: -8px;
  top: 0;
  border-left: 8px solid transparent;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  z-index: 0;
  -moz-transform: scale(.9999);
}

.recharts-bar text {
  font-size: 15px;
  /* font-family: Rundspruch; */
}


.small-hex.white {
  background-color: #e6e6e6;
  color: #e6e6e6;
}

.small-hex.yellow {
  background-color: #ecb613;
  color: #ecb613;
}

.small-hex.blue {
  background-color: #1f87e7;
  color: #1f87e7;
}

.small-hex.purple {
  background-color: #866cc7;
  color: #866cc7;
}

.small-hex.grey {
  background-color: #555;
  color: #555;
}

.small-hex.white:before {
  border-right-color: rgb(255, 255, 255);
}

.small-hex.yellow:before {
  border-right-color: #ecb613;
}

.small-hex.blue:before {
  border-right-color: #1f87e7;
}

.small-hex.purple:before {
  border-right-color: #866cc7;
}

.small-hex.grey:before {
  border-right-color: #555;
}


.small-hex.white:after {
  border-left-color: rgb(255, 255, 255);
}

.small-hex.yellow:after {
  border-left-color: #ecb613;
}

.small-hex.blue:after {
  border-left-color: #1f87e7;
}

.small-hex.purple:after {
  border-left-color: #866cc7;
}

.small-hex.grey:after {
  border-left-color: #555;
}








/* DIV HEAT MAP */

.div-heat-map {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-around;
}

.box-heat-map {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 70%;
}

.div-heat-map h3 {
  margin-bottom: 40px;
}


.box-heat-map svg {
  width: 100%;
}



.footer {
  position: absolute;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.footer svg {
  margin-left: 7px;
  color: white;
}

.footer p {
  margin-top: 10px;
}







@media (max-width: 1000px) {

  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  #root {
    margin: 0;
    padding: 0;
    padding-top: 3%;
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding: 10px;
  }

  .text-field-username form {
    width: 100%;
  }

  .text-field-username>form>div {
    width: 65%;
    margin-right: 5px;
  }

  .main-stats {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .infos-user {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }

  .div-user {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .name-rank {
    width: 100%;
  }

  .infos-user span:nth-child(2),
  .infos-user span:nth-child(3),
  .infos-user span:nth-child(4),
  .infos-user span:nth-child(5) {
    width: 45% !important;
  }

  .div-charts {
    flex-direction: column;
    align-items: center;
  }

  .div-box-rank {
    position: relative;
    top: 80px;
    width: 20%;
    left: 44%;
  }

  .div-box-rank p {
    width: 100%;
    font-size: 12px;
    margin: 2px;
    margin-left: -9px;
  }


  .div-heat-map {
    flex-direction: column;
    align-items: center;
  }

  .box-heat-map {
    width: 100%;
  }

  .div-progress-bar {
    width: 100%;
    margin-bottom: 50px;
  }

  .box-progress-bar {
    width: 70%;
    margin-bottom: 20px;
  }

  .div-kata-by-lang {
    width: 100%;
  }
}


@media (1001px <=width <=1440px) {
  .main-stats {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .div-user {
    width: 100%;
    padding: 5px;
  }

  .infos-user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
  }

  .box-heat-map h3 {
    margin-bottom: 70px;
  }

  .div-kata-by-lang {
    width: 40%;
  }
}